@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

:root {
  --secondary-color: #e8f1fa;
  --text-dark: #282d31;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --orange: rgb(255, 102, 0);

  --max-width: 1200px;
}

.hero-logo {
  margin: 0 auto;
}

* {
  font-family: Poppins;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.section__container {
  padding: 3rem 1rem;
  max-width: var(--max-width);
  margin: auto;
}

.section__title {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--orange);
  text-align: center;
  margin-bottom: 3rem;
}

.section__subtitle {
  font-size: 1rem;
  font-style: italic;
  color: var(--orange);
  margin-bottom: 5rem;
  text-align: center;
}

img {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 1rem;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo a {
  text-decoration: none;
  color: var(--extra-light);
  font-size: 1.5rem;
}

.nav__logo a img {
  border-radius: 50%;
  height: 4rem;
}

.nav__links {
  display: none;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.link {
  color: var(--extra-light);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.1rem;
}

.link {
  background-image: linear-gradient(to right, #fff, #fff 50%, #fff 50%);
  font-size: 1rem;
  font-weight: bolder;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link:before {
  content: "";
  background: #f76f00;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  background-position: 0;
}

.link:hover::before {
  width: 100%;
}

header {
  height: 100vh;
  background-image: url("images/gender.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .section__container {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: white;
  text-align: center;
}

.header__content h1 {
  width: 100;
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: bolder;
  text-transform: uppercase;
  background: #cf1616;
  background: linear-gradient(to right, #ffffff 0%, #cccf00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__content p {
  font-size: 1.2rem;
  color: whitesmoke;
  text-transform: uppercase;
}

.header__content button {
  padding: 1rem 3rem;
  outline: none;
  background-color: transparent;
  border: 2px solid var(--orange);
  color: var(--extra-light);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bolder;
}

.header__content button:hover {
  background-color: var(--orange);
  color: white;
}

.activity__container {
}

.journey__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.project-card {
  background-color: var(--extra-light);
}

.project-card img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.project-card:hover img {
  transform: scale(0.9);
}

.project__name {
  padding: 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--orange);
  cursor: pointer;
  text-align: center;
}

.project__name i {
  font-size: 1.2rem;
}

.project__name span {
  font-style: italic;
  text-align: left;
}

.about__container {
  background-image: url(images/bg2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__container .section__container {
  padding: 10rem 1rem;
  display: flex;
  justify-content: center;
}

.banner__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  color: var(--extra-light);
}

.banner__content h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}

.banner__content p {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.banner__content button {
  padding: 1rem 3rem;
  outline: none;
  border: 2px solid var(--orange);
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bolder;
}

.banner__content button:hover {
  background-color: var(--orange);
  color: white;
  font-weight: bolder;
}

.club__container {
  background-color: var(--secondary-color);
}

.club__container :is(.section__title, .section__subtitle) {
  color: var(--orange);
}

.display__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.display__grid a img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.display__grid a:hover img {
  transform: scale(0.9);
}

.display__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--extra-light);
  text-align: center;
}

.display__card i {
  font-size: 2rem;
  color: var(--primary-color);
}

.display__card h4 {
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
  color: var(--text-dark);
}

.display__card p {
  font-size: 0.8rem;
  padding: 0 1rem;
  color: var(--text-dark);
}

.display__grid .grid-1 {
  grid-area: 1/1/3/3;
}

footer {
  background-color: var(--text-dark);
  color: var(--secondary-color);
}

footer .section__container {
  display: grid;
  gap: 1.5rem;
  text-align: center;
}

footer h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.social__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social__icons i {
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

footer p {
  font-style: italic;
}

@media (min-width: 640px) {
  .hero-divider {
    flex-direction: row;
  }
  .nav__links {
    display: flex;
  }

  .journey__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
  }

  .display__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .display__card {
    gap: 0;
  }

  .display__card i {
    font-size: 1.75rem;
  }

  .display__card h4 {
    font-size: 1rem;
  }

  .display__card p {
    font-size: 0.7rem;
  }
}

@media (min-width: 786px) {
  .about__container .section__container {
    justify-content: flex-end;
  }

  .banner__content {
    align-items: flex-end;
    text-align: right;
    max-width: 780px;
  }

  .banner__content p {
    font-size: 1rem;
  }

  .banner__content h2 {
    font-size: 2.5rem;
  }

  .display__card {
    gap: 0.5rem;
  }

  .display__card i {
    font-size: 2.5rem;
  }

  .display__card p {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .display__card {
    gap: 1rem;
  }

  .display__card i {
    font-size: 3rem;
  }

  .display__card h4 {
    font-size: 1.5rem;
  }

  .display__card p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .hero-divider {
    flex-direction: column;
  }

  .footer__form input,
  .footer__form textarea {
    margin: 0 1rem;
  }

  .header__content h1 {
    text-align: center;
    font-size: 2rem;
  }

  .header__content p {
    font-size: 1rem;
  }

  .banner__content p {
    font-size: 1rem;
  }

  .banner__content h2 {
    font-size: 2.5rem;
  }
}

#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  z-index: 9999;
}

footer {
  background-image: url(images/contactbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer__details {
  font-size: 0.8rem;
  color: var(--text-light);
  margin: 2rem 0;
  display: grid;
  gap: 1rem;
}

.footer__form {
  display: grid;
  gap: 1rem;
}

.footer__form :is(input, textarea) {
  padding: 1rem;
  background-color: var(--text-dark);
  outline: none;
  border: none;
  border-radius: 5px;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 70%;
}

.submit {
  margin: 0 auto;
}

.footer__form textarea {
  resize: none;
  font-family: "Roboto", sans-serif;
}

.footer__form button {
  width: max-content;
}

.footer__form input {
  background-color: transparent;
  border: 5px solid var(--secondary-color);
  text-align: center;
}

.footer__form textarea {
  background-color: transparent;
  border: 5px solid var(--secondary-color);
  text-align: center;
}

.submit {
  padding: 1rem 3rem;
  border: 5px solid white;
  transition: 0.5s;
  background-color: transparent;
  color: white;
  font-weight: bolder;
}

.footer__form input::placeholder,
.footer__form textarea::placeholder {
  color: #cec3c3;
}

.submit:hover {
  background-color: var(--orange);
  border: 2px solid var(--orange);
}

#acts {
  background-image: url("images/black.png");
  background-size: cover;
}

/* BURGER METHOD FOR MOBILE RESPONSIVENESS */
.burger-menu {
  margin-top: -10px;
  display: none;
  cursor: pointer;
}

.burger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
  transition: 0.8s;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-shape-divider-bottom-1712930887 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1712930887 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 172px;
}

.custom-shape-divider-bottom-1712930887 .shape-fill {
  fill: #ffffff;
}

.hero-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 6rem;
}

.hero-flex img {
  margin: 0 auto;
  height: 30rem;
  width: 30rem;
  object-fit: contain;
}

.hero-flex h1 {
  font-size: 3rem;
  background: #cf1616;
  background: linear-gradient(to right, #cf1616 0%, #cccf00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1rem 0;
}

.hero-flex h1 span {
  border-bottom: 5px solid var(--orange);
  width: 100%;
}

.hero-flex .par {
  font-style: italic;
  text-align: justify;
  text-justify: inter-word;
}

.hero-divider {
  display: flex;
  height: 10rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-divider i {
  font-size: 3rem;
}

.hero-divider p {
  padding-top: 1rem;
  font-size: 1rem;
}

.hero-divider .one {
  background-color: #e83100;
  color: white;
  width: 100%;
  padding: 2rem 3rem;
}

.hero-divider .two {
  background-color: #ff6933;
  color: white;
  width: 100%;
  padding: 2rem 3rem;
}

.hero-divider .three {
  background-color: #ffa570;
  color: white;
  width: 100%;
  padding: 2rem 3rem;
}

@media screen and (max-width: 768px) {
  .nav__links {
    display: none;
    flex-direction: column;
    text-align: center;
    position: fixed;
    line-height: 2.6rem;
    top: 7rem;
    left: 0;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(50px);
    transition: 0.8s;
  }

  .nav__links:first-child {
    margin-top: 30rem;
  }

  .nav__links a {
    padding: 15px;
    width: 100%;
    display: block;
  }

  .burger-menu {
    display: block;
    color: white;
    z-index: 1000;
  }

  .change .bar:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change .bar:nth-child(2) {
    opacity: 0;
  }

  .change .bar:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/* TARGETS SECTIONS */
.activity__container h1 {
  text-align: center;
  background-color: #e83100;
  font-style: italic;
  color: white;
  padding: 0.5rem 0;
  font-size: 1.3rem;
}

/* THINGS TO DO */

.t__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.t__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t__card i {
  margin-right: 2rem;
  color: orangered;
  font-size: 1rem;
}
@media screen and (max-width: 600px) {
  .t__grid {
    grid-template-columns: 1fr;
    font-size: 1rem;
    margin: 0 3rem;
    font-size: 0.8rem;
  }

  .hero-flex h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .hero-flex .par {
    font-size: 0.9rem;
    height: 33rem;
    text-align: justify;
    text-justify: inter-word;
  }

  #news {
    margin-top: 9rem;
  }

  .hero-flex img {
    height: 16.3rem;
    width: 16.3rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1100px) {
  .hero-flex {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1rem;
  }
}

.timeline-section {
  background-image: url(images/black.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 100px 15px;
  margin-bottom: -8rem;
}
.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #e04700;
  left: calc(50% - 1px);
}
.timeline-item {
  text-align: left;
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: #e04700;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date {
  font-size: 18px;
  color: #ffffff;
  margin: 6px 0 15px;
}
.timeline-content {
  background-color: var(--orange);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
}
.timeline-content h3 {
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
  text-align: left;
}
.timeline-content p {
  text-align: left;
  color: #e6e4e4;
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
}

/* responsive */
@media (max-width: 767px) {
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }

  .timeline-section {
    margin-top: 10rem;
  }

  .timeline-section .section__title {
    font-size: 2rem;
  }
}
